.real-card:hover{
background-color: gray;
color:white;
cursor:pointer;
}

.card-detail{
    text-align:center;
}

.card-text{
    padding-top:20px;
}

.check-list{
    height:80vh;
    overflow-y: auto;
}