
























/*
<<<<<<< HEAD
.inner-box-head{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.inner-box-body{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 85%;
    border: 1px solid black;
}

.AddCancel{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.AddCancel1 {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-right: 5px;
}

.product-photo-name{
    display: flex;
    height: 30%;
=======
.flex-column:nth-child(1){
>>>>>>> d9bdb29269c58e331b8b65725211e4771f37ead2
    width: 30%;
}

div{
    padding: 10px;
}


.justify-content-between {
    width: 100%;
}


.product-photo-name input{
    width: 96%;
}



.upload-photo{
    height: 80%;
    width: 100%;
}

.justify-content-between:nth-child(1) 
input{
    width: 15%;
}

.justify-content-between
.justify-content-between
input{
    display: inline-block;
    width: 5%;
}

.justify-content-between    
.justify-content-between
label{
    display: inline-block;
    width: 20px;
}

.Total input{
    width: 10%;
}

.Total{
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 5% 5%;

} */
