.justify-content-between {
    width: 100%;
}

.d-flex.flex-md-column {
    width: 35%;
    background-color: #313841;
    border-radius: 10px;
    position:absolute;
}

.btn-info {
    height: 50%;
    width: 25%;
}

.justify-content-between:nth-child(1)
.form-control{
    height: 50%;
    width: 25%;
}



.d-flex{
    width:95%;
    margin: auto;
    height: 80%;
    border: none !important;
    color: cornsilk;
}

.flex-column:nth-child(1){
    width: 30%;
}

div{
    padding: 10px;
}


.justify-content-between {
    width: 100%;
}


.product-photo-name input{
    width: 96%;
}



.upload-photo{
    height: 80%;
    width: 100%;
}

.justify-content-between:nth-child(1) 
input{
    width: 15%;
}

.justify-content-between
.justify-content-between
input{
    display: inline-block;
    width: 5%;
}

.justify-content-between    
.justify-content-between
label{
    display: inline-block;
    width: 20px;
}

.Total input{
    width: 10%;
}

.Total{
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 5% 5%;

}
