h1{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    color: black;
    text-align: 200px;
    padding: 14px 16px;
    text-decoration: none;
    left: -17px;
      
      
}
.background{
    left: 200px;
    background-color: #F5F7FA;
}


.submitButton{
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: blue;
    position: relative;
    right: 7px;
    font-size: 90%;
}
.nameButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: blue;
    position: relative;
    left: 30px;
    font-size: 90%;
}


table{
    font-size: 10;
}
td{
    width: 20%;
    border-bottom: 1px solid #DDDDDD;
    position: relative;

}

.name{
    width: 20%;
    border-bottom: 0px;
    position: relative;
}

.belowjoin{
    width: 20%;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
}

#lang{
 
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 65%;
    border-radius: 1px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    left: 20px;
 
}

#lang2{
 
    padding: 3px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 65%;
    border-radius: 1px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    left: 10px;
 
}

#time{
 
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 66%;
    border-radius: 1px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    left: 15px;
 
}
.Featmis{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: blue;
    position: relative;
    left: -5px;
    font-size: 105%;
}

div {
    display: block;
}

.closeXbutton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: relative;
    left: 420px;
    bottom: 80px;
}

.passChange{
    background-color: transparent;
    color: blue;
    position: relative;
    left: 75px;
    font-size: 105%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;

    cursor: pointer;
    line-height: 1.5;
}

.phone{

    padding: 8px;
    margin: 5px;
    width: 65%;
    border-radius: 1px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
   
   
}

.stName{
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Brgy{
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.cityMun{
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.zipp{

    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.adj{

    position: relative;
    right: 25%;
    top: 16px;
    
    
}
.NameEdit{
    width: 50%;
    padding: 6px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
 
}
.pazWord{
    width: 48%;
    padding: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 3.3%;
}

.SubmitBut{

    position: relative;
    left: -20px;
    background-color: #0070BA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.CloseBut{
    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 
}
.passStyle{
    width: 50%;
    padding: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
  

}

.passStyle2{
    width: 66%;
    padding: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 6%;

}
#conf{
    position: relative;
    left: 50px;
}
.roles{
    background-color: transparent;
    color: blue;
    position: relative;
    left: 75px;
    font-size: 105%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
}
